.container {
    text-align: center;
    margin: 25px;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    font-family: 'Cairo', sans-serif;
}

.container textarea{
    margin-top: 15px;
    width: 100%;
    height: 80px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.container textarea:focus {
    outline: none;
}

.hedearContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.hedearContainer i{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

